@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

a{
    text-decoration: none;
    color: #000;
}

/*--       Index.html       --*/




/*--       Comparatif.html       --*/
.comparatif{
    margin-bottom: 10rem;
}
.comparatif h1{
    font-size: 2.2rem;
    background: #000;
    color: #fff;
    width: fit-content;
    padding: 0.8rem 2.5rem;
    margin-top: 4rem;
    margin-left: 37vw;
    margin-bottom: 5rem;
    font-weight: bold;
    word-spacing: 5px;
}

.comparatif > div{
    display: flex;
    margin-left: 15vw;
    
}
.comparatif > div div{
    background-color: #000;
    color: #fff;
    overflow: hidden;
    border: solid black 4px;
    border-radius: 30px;
    font-size: 1rem;
    margin-left: 12rem;
}

.comparatif > div div img{
    width: 23rem;
}
.comparatif > div div:last-of-type img{
    width: 23rem;
    border: solid white 10px;
}
.comparatif > div div > *:not(.comparatif > div div img){
    margin-left: 1.5rem;
}

.comparatif > div div p{
    font-size: 1.3rem;
    font-weight: bold;
}
.comparatif > div div p:first-of-type{
    margin-bottom: 2rem;
}

.comparatif > div div ul > li{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-left: -1.54rem;
    list-style-type: "- ";
}

.comparatif > div div p:last-of-type{
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.comparatif > div div p > span{
    font-size: 2rem;
}

.resultat{
    display: flex;
    background-color: #e6e6e6;
    
}
.resultat__text{
    margin-left: 22rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.resultat__text h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.resultat__text p{
    font-size: 1.3rem;
    line-height: 1.9rem;
    width: 30rem;
    margin-bottom: 3rem;
    word-spacing: 2px;
}

.resultat__text button{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.7rem 1.8rem;
    border: solid black 2px;
    border-radius: 15px;
    font-family: inherit;
    letter-spacing: 1px;
    transition: color ease-in-out .35s, background-color ease-in-out .35s;
}
.resultat__text button:hover{
    background-color: white;
    border: solid black 2px;
    color: #000;
    transition: color ease-in-out .35s, background-color ease-in-out .35s;
}
.resultat > div {
    width: 20rem;
}
.resultat img{
    width: 32.1rem;
    margin-top: 5rem;
    margin-left: 24rem;
    border: solid black 5px;
}


/*-- Formulaire --*/

.formulaire{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: 'Martel', serif; 
    font-weight: 900;
}

.formulaire h3{
    text-align: center;
    font-size: 2.2rem;
}

.formulaire p{
    text-align: center;
    font-size: 1.4rem;
    margin-top: -.5rem;
    margin-bottom: 3.5rem;
}

.formulaire form{
    display: flex;
    width: 66rem;
    flex-direction: column;
    margin-left: 26rem;
    font-weight: bold;
}
.formulaire form *{
    color: #000;
    background-color: #fff;
    border: solid white 2px;
    margin-bottom: 15px;
    padding: 0.9rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 35px;
    font-weight: 700;
    outline: none;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}
.formulaire form *:focus:not(button){
    color: #fff;
    background-color: #000;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}
.formulaire form *::placeholder{
    padding-top: .3rem;
    color: #000;
}
.formulaire form textarea{
    resize: none;
}

.formulaire form button{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: auto;
    padding: 1.2rem 4.3rem;
    border: solid white 2px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}

.formulaire form button:hover{
    color: #fff;
    background-color: #000;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;

}

/*-- footer --*/

footer{
    font-size: 1.7rem;
    font-family:'Martel', serif;
    font-weight: 800;
}

.footer__social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
    height: 4rem;
}
.footer__social nav{
    margin-left: -20rem;
}
.footer__social img{
   width: 3rem;
   margin-right: 2rem;
}

.footer__partenaires{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.footer__partenaires div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer__partenaires img{
    width: 13rem;
}
.footer__partenaires a:first-of-type img{
    width: 9rem;
    margin-top: -.5rem;
}

footer > div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div:last-of-type img{
    width: 5rem;
}
footer > div:last-of-type p{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 1rem;
}
