@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "SitkaB";
}
@font-face {
 font-family: "SitkaB";
 src: url("../font/SitkaB.ttc");
}

a{
    text-decoration: none;
    color: #000;
}
.flex{
    display: flex;
}
/*--       Header           --*/
header{
    display: flex;
    background-color: white;
    padding-left: 50px;
    font-size: 20px;
    height: 80px;
    font-weight: bold;
}
header img{
    width: 24%;
}
.header_text{
    margin-top: 28px;
    margin-left: 40vw;
}
.header_text a{
    margin-left: 30px;
}
.header_text a:hover{
    color: #5862a3;
}
.section1{
    background-color: black;
    height: 92vh;
    color: white;
    text-align: center;
}
.section1 h1{
    margin-top: 35vh;
    font-size: 60px;
}
.section1 p{
    font-size: 20px;
}
/*--       Index.html       --*/

.section2{
    background-color: white;
    height: 100vh;
    text-align: center;
}
.section2 h1{
    margin-top: 80px;
}
.section2 img{
    width: 250px;
    margin-top: 20px;
}
.section2 div div{
    margin: 60px;
}
.section2 div div #bas{
    margin-top: 60px;
}
.section2 p{
    margin-top: 80px;
}
.section2 #deux{
    margin-top: 39px;
}
.section2 #trois{
    margin-top: 48px;
}
.section2 #quatre{
    margin-top: 90px;
}
.section3{
    background-color: black;
    height: 100vh;
    color: white;
    text-align: center;
}
.section3 .blanc{
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}
.section3 .promo{
    margin-left: 200px;
}
.section3 img{
    height: 100%;
}
.section3 .blanc p{
    font-size: 30px;
    position: absolute;
    margin-top: -90px;
    background-color: rgba(0,0,0,0.5);
    width: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.section4{
    height: 100vh;
    text-align: center;
}
.section4 img{
    height: 300px;
}
.section4 div div{
    width: 50%;
}
.section4 div{
    margin-top: 40px;
}
.section4 p{
    font-size: 15px;
    width: 400px;
    margin: auto;
}
/*--       Comparatif.html       --*/
.comparatif{
    margin-bottom: 10rem;
}
section h2{
    text-transform: capitalize;
    font-size: 2.2rem;
    background: #000;
    color: #fff;
    width: fit-content;
    padding: 0.8rem 2.5rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    font-weight: bold;
    word-spacing: 5px;
}

.comparatif > div{
    display: flex;
    margin-left: 15vw;
    
}
.comparatif > div div{
    background-color: #000;
    color: #fff;
    overflow: hidden;
    border: solid black 4px;
    border-radius: 30px;
    font-size: 1rem;
    margin-left: 12rem;
}

.comparatif > div div img{
    width: 23rem;
}
.comparatif > div div:last-of-type img{
    width: 23rem;
    border: solid white 10px;
}
.comparatif > div div > *:not(.comparatif > div div img){
    margin-left: 1.5rem;
}

.comparatif > div div p{
    font-size: 1.3rem;
    font-weight: bold;
}
.comparatif > div div p:first-of-type{
    margin-bottom: 2rem;
}

.comparatif > div div ul > li{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-left: -1.54rem;
    list-style-type: "- ";
}

.comparatif > div div p:last-of-type{
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.comparatif > div div p > span{
    font-size: 2rem;
}

.resultat{
    display: flex;
    background-color: #e6e6e6;
    
}
.resultat__text{
    margin-left: 22rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.resultat__text h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.resultat__text p{
    font-size: 1.3rem;
    line-height: 1.9rem;
    width: 30rem;
    margin-bottom: 3rem;
    word-spacing: 2px;
}

.resultat__text button{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.7rem 1.8rem;
    border: solid black 2px;
    border-radius: 15px;
    font-family: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color ease-in-out .35s, background-color ease-in-out .35s;
}
.resultat__text button:hover{
    background-color: white;
    border: solid black 2px;
    color: #000;
    transition: color ease-in-out .35s, background-color ease-in-out .35s;
}
.resultat > div {
    width: 20rem;
}
.resultat img{
    width: 32.1rem;
    margin-top: 5rem;
    margin-left: 24rem;
    border: solid black 5px;
}


/*-- Formulaire --*/

.formulaire{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: 'Martel', serif; 
    font-weight: 900;
}

.formulaire h3{
    text-align: center;
    font-size: 2.2rem;
}

.formulaire p{
    text-align: center;
    font-size: 1.4rem;
    margin-top: -.5rem;
    margin-bottom: 3.5rem;
}

.formulaire form{
    display: flex;
    width: 66rem;
    flex-direction: column;
    margin-left: 26rem;
    font-weight: bold;
}
.formulaire form *{
    color: #000;
    background-color: #fff;
    border: solid white 2px;
    margin-bottom: 15px;
    padding: 0.9rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 35px;
    font-weight: 700;
    outline: none;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}
.formulaire form *:focus:not(button){
    color: #fff;
    background-color: #000;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}
.formulaire form *::placeholder{
    padding-top: .3rem;
    color: #000;
}
.formulaire form textarea{
    resize: none;
}

.formulaire form button{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: auto;
    padding: 1.2rem 4.3rem;
    border: solid white 2px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}

.formulaire form button:hover{
    color: #fff;
    background-color: #000;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;

}
/*-- Achat --*/

.achat{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.achat__trie{
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

}
.achat__trie button{
    padding: 1rem 1.5rem;
    width: 16rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border:solid black 2px;
    margin-right: -5px;
    outline: none;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}

.achat__trie button.active{
    background-color: #fff;
    color: #000;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}

.achat > div:not(.achat__trie):not(.active){
    display: none;
}
.achat > div.active{
    display: block;
}

.achat > div:not(.achat__trie){
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem ;
    margin-left: auto;
    margin-right: auto;
    width: 100rem;
    max-width: 120rem;
    
}
.achat__produit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30rem;
    margin-bottom: 5rem;
    overflow: hidden;
}

.achat__produit > div:first-of-type {
    display: flex;
    position: relative;
    justify-content: center;
    border: solid black 2px;
    border-bottom: none;
    
}
.achat__produit div:first-of-type img{
    width: 25rem;
    min-height: 25rem;
}
.achat__produit div:first-of-type .prix{
    position: absolute;
    padding: .5rem 2.5rem;
    font-size: 1.3rem;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
}
.achat__produit .prix *{
    margin-left: auto;
    margin-right: auto;
}
.achat__produit .reduc{
    position: absolute;
    padding: .2rem 1.5rem;
    font-size: 1.5rem;
    left: 0;
    bottom: 2rem;
    background-color: #777;
    color: #fff;
   
}

.achat__produit div:first-of-type div p.old{
    text-decoration:line-through;
    font-size: 1.1rem;
    margin-bottom: -.8rem;
}
.achat__produit > div:last-of-type{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    background-color: #000;
    color: #fff;
}
.achat__produit > div:last-of-type p{
    margin-left: 2rem;
    text-transform: capitalize;
}
.achat__produit div:last-of-type a{
    margin-left: 1rem;
    padding: 1.2rem 3.5rem;
    background-color: #000;
    color: #fff;
    border: solid black 2px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}
.achat__produit div:last-of-type a:hover{
    margin-left: 1rem;
    background-color: #fff;
    color: #000;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}


/*-- footer --*/

footer{
    font-size: 1.7rem;
    font-family:'Martel', serif;
    font-weight: 800;
}

.footer__social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
    height: 4rem;
}
.footer__social nav{
    margin-left: -20rem;
}
.footer__social img{
   width: 3rem;
   margin-right: 2rem;
}

.footer__partenaires{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.footer__partenaires div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer__partenaires img{
    width: 13rem;
}
.footer__partenaires a:first-of-type img{
    width: 9rem;
    margin-top: -.5rem;
}

footer > div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div:last-of-type img{
    width: 5rem;
}
footer > div:last-of-type p{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 1rem;
}